body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    margin-top: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
}

    table td {
        padding: 10px 0;
    }

label {
    font-weight: bold;
    color: #555;
}

#userName,
#password,
#confirmPassword{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#userName:hover,
#password:hover,
#confirmPassword:hover {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#registerbtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    #registerbtn:hover {
        background-color: #0056b3;
    }

#HyperLink1 {
    color: #007bff;
    text-decoration: none;
}

    #HyperLink1:hover {
        text-decoration: underline;
    }

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #d9534f;
}
